body{

	height:1000px;
	width: 600px;
	margin: 0 auto;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	background-image: url("https://wallpapercave.com/wp/3a0T946.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition:all 20s ease;
	

}

body{
	height:999px;
	width: 999px;
}




#background {

	
	filter:blur(8px);

}

.elso-doboz {
	 /*background-color: orange;*/
	height: 33%;
	width:100%;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items: center;


}

.masodik-doboz{
	/* background-color: yellow; */
	height: 33%;
	width: 100%;
	
}

 .harmadik-doboz{
 /* background-color: red; */
  height:33%;
  width:100%;
   display:flex;
   justify-content:center;
   align-items: center;
   opacity:1;
   border: 2px solid;
}

.elso-kisbox{
/*	background-color: green; */
	height: 100%;
	width: 33.3%;
	float:left;
}

.masodik-kisbox{
	/*background-color: gray;*/
	height:100%;
	width:33.3%;
	float:left;
	display:block;
}

.harmadik-kisbox{
	/*background-color: pink;*/
	height: 100%;
	width: 33.3%;
	float: left;
}

.swag{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-top:50px;


}


img:hover{
transform: scale(1.5);
filter: grayscale(0);
transition: .5s ease-in-out;
transform: rotate(15deg) scale(1.4);
}

.gomb{


	font-family: 'Open Sans', sans-serif;
	font-size: 50px;


}

.gomb:hover {
	color: black;
	transform: scale(0.2);
	transition: 3s ease-in-out;


}

.harmadik-doboz:hover{
	opacity:0.2;
	border-radius:50%;
	transition: 0.8s ease-in-out;
	background-color:gray;
}
